version: '3.8'

services:
  api:
    build: .
    ports:
      - "3000:3000"
    environment:
      - DB_HOST=db
    env_file:
      - .env
    depends_on:
      - db # Wait for DB service to be ready
    restart: unless-stopped

  db:
    image: mysql:8.0
    container_name: ticketmanager-nest-db
    restart: always
    environment:
      MYSQL_DATABASE: ticket_db
      MYSQL_USER: user
      MYSQL_PASSWORD: password
      MYSQL_ROOT_PASSWORD: rootpassword
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql # Retain data across container restarts

volumes:
  db_data: